@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

:root {
  --primary-white: #fff;
  --primary-blue: #2b9eda;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Dosis", sans-serif;
}

/**** NAVBAR ****/
.logo {
  width: 18.75rem;
}

/* *** MENU LINKS *** */
nav a.nav-link {
  font-weight: 600;
  letter-spacing: 0.09rem;
  font-size: 1.123rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.18rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.18rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-top: 0.18rem solid var(--primary-blue);
}
